body {
  background-color: black;
}

.content {
  color: red;
  font-family: "DotGothic16";
  font-size: 50px;
  background-color: black;
  padding: 35px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.icons {
  font-size: 45px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.iconsChild {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 10px;
  margin-right: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  margin-left: 4px;
  margin-right: 4px;
  width: 119.2px;
  height: 76px;
}

.container {
	display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: "Incosolata";
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.titleCard {
  font-family: "Incosolata";
  font-size: 35px;
  background-color: black;
  padding: 35px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 5px;
	margin-right: 70px;
}

.cafe {
  display: flex;
  justify-content: left;
  margin-left: 4px;
  margin-right: 4px;
  width: 390.5px;
  height: 258px;
	border-radius: 10px;
}
